body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
  /* my changes */
  float: left;
  margin-right: 10px;
  /* my changes */

  max-width: 100%;
  display: block;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.flex {
  /* my changes */
  display: flex;
  /* my changes */

  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
}

nav {
  /* my changes */
  position: sticky;
  top: 0;
  /* my changes */

  background-color: #000;
  padding: 0.5em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
}

.photos {
  /* my changes */
  display: grid;
  grid-template-columns: 100px 100px;

  column-count: 2;
  gap: 1px;
  /* my changes */

  list-style: none;
  margin: 0;
  padding: 0;
}

.feature {
  width: 200px;
}
